<!DOCTYPE html>

<html>

<head>
  <title>URL Shortener Microservice | freeCodeCamp.org</title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <link href="/public/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>URL Shortener Microservice freeCodeCamp project</h1>
  <main>
    <div class='notes'>
      <b>Notes:
      </b>
      <ul>
        <li>You can POST a URL to <mark>/api/shorturl</mark> and get a JSON response with original_url and short_url
          properties.
          Here's
          an example: <mark>{ original_url : 'https://freeCodeCamp.org', short_url : 1}</mark></li>

        <li> When you visit <mark>/api/shorturl/<short_url></short_url></mark>, you will be redirected to the original
          URL.
        </li>

        <li> If you pass an invalid URL that doesn't follow the valid <mark>http://www.example.com</mark> format, the
          JSON response
          will
          contain <mark>{ error: 'invalid url' }</mark></li>

      </ul>
    </div>
    <div>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </div>
  </main>
  <footer>
    <p>By <a href="https://github.com/Sabri0o">Sabri Trabelsi</a></p>
  </footer>
</body>

</html>